* {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

a {
    text-decoration: none;
}

ul {
    padding: 0;
}

.header, .footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    margin-top: 10px;
    padding: 20px;
    max-width: 1440px;
    width: 80%;
    background-color: rgba(15, 15, 15, 0.662);
    border: 2px black solid;
    border-radius: 15px 50px;
    box-shadow: 10px 10px 0px rgb(16, 16, 16); 
}

.avatar {
    max-width: 300px;
    width: 40%;
    margin: 0;
    padding: 0;
    border: 2px black solid;
    border-radius: 12px;
}

.title {
    width: 60%;
    margin: 0;
    padding: 0;
    color: white;
    padding-left: 10px;
}

.title h1 {
    font-size: clamp(17px, 2vw, 32px);
}

.title h2 {
    font-size: clamp(14px, 2vw, 24px);
}

.main {
    display: flex;
    max-width: 1440px;
    width: 80%;
    margin: 10px auto;
    padding: 15px;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.block-information {
    width: 45%;
    padding: 20px;
    margin: 0;
    background-color: rgba(61, 60, 60, 0.82);
    border-radius: 20px;
    box-shadow: 6px 8px 0px rgba(255, 254, 254, 0.594); 
}

.block-information h2 {
    width: 80%;
    font-size: clamp(14px, 2vw, 22px);
    background-color: rgba(0, 0, 0, 0.662);
    border: 3px solid rgba(0, 0, 0, 0);
    border-radius: 10px;
    color: rgb(255, 255, 255);
    transition: width 1.5s;
}

.block-information p, .block-information li, .footer a {
    font-size: clamp(12px, 2vw, 17px);
    color: rgb(248, 244, 244);
}

.img-portfolio {
    max-width: 100px;
    border: 1px black solid;
    border-radius: 10px;
}

.img-portfolio:hover {
    border: 2px black solid;
}

.block-information:hover {
    box-shadow: 8px 10px 10px rgba(195, 193, 193, 0.808); 
}

.block-information:hover h2 {
    width: 50%;
    box-shadow: 8px 10px 0px rgba(0, 0, 0, 0.842); 
}

.container-for-blocks {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 45%;
    justify-content: space-around;
    gap: 20px;
}

.container-for-blocks .block-information {
    width: 100%;
}

.diploma {
    color: rgb(0, 0, 0);
    text-shadow: 4px 4px 5px rgb(251, 251, 250);
    border-radius: 4px;
}

.diploma:hover {
    border: 2px rgb(255, 255, 255) solid;
}

.skill, .language {
    display:inline-block;
    border: 5px black double;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
}

.language {
    border: 5px rgb(184, 183, 183) double;
}

.footer {
    justify-content: center;
    border-radius: 15px;
    margin: 15px auto;
}

.footer a {
    margin: 5px;
    padding: 5px;
    background-color: black;
    border: 1px black solid;
    border-radius: 10px;
}

.footer a:hover {
    border: 1px white dashed;
}


@media screen and (max-width:1024px) {
    .title{
        padding-left: 20px;
    }
}

@media screen and (max-width:768px) {
    .title {
       padding-left: 30px;
    }
}

@media screen and (max-width:639px) {
    .header {
        flex-direction: column;
        border-radius: 50px 15px;
        box-shadow: 10px 10px 0px rgba(212, 211, 211, 0.781);
    }
    .avatar {
        width: 80%;
        align-self: flex-start;
    }
    .title {
        width: 80%;
        text-align:right;
    }
    .main {
        flex-direction: column;
    }
    .container-for-blocks {
        flex-direction: row;
        width: 100%;
        gap: 0;
    }
    .container-for-blocks .block-information {
    width: 45%;
    }
    .block-information {
        width: 100%;
        box-shadow: 6px 8px 0px rgba(212, 211, 211, 0.781); 
    }
    .footer {
        flex-direction: column;
    }
}

@media screen and (max-width:450px) {
    .container-for-blocks {
        flex-direction: column;
        gap: 20px;
    }
    .container-for-blocks .block-information {
    width: 100%;
    }
}

.playfair-display {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-style: normal;
}


.edu-nsw-act-cursive {
  font-family: "Edu NSW ACT Cursive", cursive;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}

.lora {
  font-family: "Lora", serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}
